{% extends 'account/base.html' %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% block subtitle %}Login Now{% endblock %}


{% block content %}
<div class="col-lg-6">
    <div class="p-lg-5 p-4">

        <div class="mb-4 mt-0">
            <h3 class="text-primary">Account Inactive</h3>
        </div>


        <div class="mt-4">
            <p>The Account from which you are trying to Authenticate is currently Inactive SO You cannot Login, If
                You Want to reactivate your account kindly contact us </p>
        </div>

    </div>
</div>
{% endblock %}


