{% extends 'account/base.html' %}
{% load i18n %}
{% load account %}
{% load static %}
{% load crispy_forms_tags %}

{% block subtitle %}{% trans "Confirm E-mail Address" %}{% endblock %}


{% block content %}
    <div class="card border-0 bg-grey mt-4 rounded-20">

        <div class="card-body p-4">
            <div class="text-center mb-4 border-bottom">
                <h3 class="shadow-text">Registration</h3>
                {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
            </div>

            <div class="p-2 mt-3">

                <p class="card-text">we have emailed you for verification. Follow the
                    link provided
                    to
                    finalize the signup
                    process. Please contact us if you do not receive it within a few
                    minutes.
                </p>
            </div>
        </div>
    </div>

    <div class="mt-4 text-center">
        <p class="mb-0">
            Let's get you back to your account
            <a href="{% url 'account_login' %}"
               class="fw-semibold text-decoration-underline">
                Login
            </a>
        </p>
    </div>
{% endblock %}

