<ul class="navbar-nav" id="navbar-nav">
    <li class="menu-title"><span data-key="t-menu">Menu</span></li>


    <li class="nav-item">
        <a class="nav-link menu-link" href="{% url 'dashboard:dashboard' %}" role="button">
            <i class="las la-signal"></i> <span data-key="t-products">Dashboard</span>
        </a>
    </li>

    {% if request.user.is_superuser or perms.finance.view_member or perms.finance.view_payment or perms.finance.view_subscriptionplan or perms.finance.view_expense or perms.finance.view_gymshift %}

        <li class="nav-item">
            <a class="nav-link menu-link" href="#sidebarFinance" data-bs-toggle="collapse" role="button"
               aria-expanded="false"
               aria-controls="sidebarFinance">
                <i class="las la-dumbbell"></i> <span data-key="t-pages">Gym Finance</span>
            </a>
            <div class="collapse menu-dropdown" id="sidebarFinance">
                <ul class="nav nav-sm flex-column">

                    {% if request.user.is_superuser or perms.finance.view_member %}
                        <li class="nav-item">
                            <a href="{% url 'finance:member_list' %}" class="nav-link"
                               data-key="t-starter"><i class="bx bx-user-check me-1"></i> Members</a>
                        </li>
                    {% endif %}

                    {% if request.user.is_superuser or perms.finance.view_subscriptionplan %}
                        <li class="nav-item">
                            <a href="{% url 'finance:subscriptionplan_list' %}" class="nav-link"
                               data-key="t-starter"><i class="bx bx-id-card me-1"></i> Subscription Plans</a>
                        </li>
                    {% endif %}

                    {% if request.user.is_superuser or perms.finance.view_gymshift %}
                        <li class="nav-item">
                            <a href="{% url 'finance:gymshift_list' %}" class="nav-link"
                               data-key="t-starter"><i class="bx bx-time me-1"></i> Shifts</a>
                        </li>
                    {% endif %}

                    {% if request.user.is_superuser or perms.finance.view_payment %}
                        <li class="nav-item">
                            <a href="{% url 'finance:payment_list' %}" class="nav-link"
                               data-key="t-starter"><i class="bx bx-money me-1"></i> Payments</a>
                        </li>
                    {% endif %}

                    {% if request.user.is_superuser or perms.finance.view_expense %}
                        <li class="nav-item">
                            <a href="{% url 'finance:expense_list' %}" class="nav-link"
                               data-key="t-starter"><i class="bx bx-wallet me-1"></i> Expenses</a>
                        </li>
                    {% endif %}

                </ul>
            </div>
        </li>
    {% endif %}

    {% if request.user.is_superuser or perms.accounts.view_user or perms.accounts.view_instructor %}

        <li class="nav-item">
            <a class="nav-link menu-link" href="#sidebarAccounts" data-bs-toggle="collapse" role="button"
               aria-expanded="false"
               aria-controls="sidebarAccounts">
                <i class="las la-user"></i> <span data-key="t-pages">Accounts</span>
            </a>
            <div class="collapse menu-dropdown" id="sidebarAccounts">
                <ul class="nav nav-sm flex-column">

                    {% if request.user.is_superuser or perms.accounts.view_user %}
                        <li class="nav-item">
                            <a href="{% url 'accounts:user_list' %}" class="nav-link"
                               data-key="t-starter"><i class="bx bx-group me-1"></i> Users</a>
                        </li>
                    {% endif %}

                    {% if request.user.is_superuser or perms.accounts.view_instructor %}
                        <li class="nav-item">
                            <a href="{% url 'accounts:instructor_list' %}" class="nav-link"
                               data-key="t-starter"><i class="bx bx-medal me-1"></i> Instructors</a>
                        </li>
                    {% endif %}

                </ul>
            </div>
        </li>
    {% endif %}

    {% if request.user.is_superuser or perms.whisper.view_emailnotification %}
        <li class="nav-item">
            <a class="nav-link menu-link" href="{% url 'whisper:emailnotification-list' %}" role="button">
                <i class="ri ri-bell-fill"></i><span data-key="t-dashboards">Emails</span>
            </a>
        </li>
    {% endif %}

    {% if request.user.is_superuser %}
        <li class="nav-item">
            <a class="text-danger nav-link menu-link" href="/admin/" role="button">
                <i class="bx bx-shield-x"></i><span data-key="t-dashboards">Access</span>
            </a>
        </li>
    {% endif %}

</ul>
